---
galaxy_info:
  author: Richard Slater
  description: "Ansible role to install the latest Podman via static binaries, avoiding stale package manager versions."
  license: "MIT"
  min_ansible_version: "2.9"
  platforms:
    - name: Ubuntu
      versions:
        - all
    - name: Debian
      versions:
        - all
