{{- $email := promptStringOnce . "email" "Email address" -}}

{{ if eq .chezmoi.os "windows" }}
[cd]
    command = "C:\\Program Files\\PowerShell\\7\\pwsh.exe"
[diff]
    command = "C:\\Program Files\\Neovim\\bin\\nvim.exe"
    args = ["-d"]
{{ end }}

[data]
    email = {{ $email | quote }}
