{{ if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh.exe"
    args = ["-NoLogo"]
[interpreters.ps1]
    command = "pwsh.exe"
    args = ["-NoLogo"]
[diff]
    command = "C:\\Program Files\\Neovim\\bin\\nvim.exe"
    args = ["-d"]
{{ end }}

[data]
    email = "{{- if eq .chezmoi.username "scetrov" -}}git@scetrov.live{{- else if eq .chezmoi.username "rslater" -}}richard.slater@ensono.com{{- else -}}github@richard-slater.co.uk{{- end -}}"
    role = "{{- if eq .chezmoi.username "scetrov" -}}personal{{- else if eq .chezmoi.username "rslater" -}}work{{- else -}}personal{{- end -}}"
