[core]
editor = nvim
eol = lf
autocrlf = input

[user]
email = {{ .email | quote }}
name = Richard Slater
{{- if eq .email "git@scetrov.live" }} 
signingkey = CB9EDC6120241EF1FEA1EF65D53B150BA3B869B9
{{ else }}
signingkey = BB08D26976020885
{{ end }}

[color]
ui = true

[diff]
tool = nvimdiff

[difftool]
prompt = false

[difftool "nvimdiff"]
cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
tool = nvimdiff

[mergetool]
prompt = true

[mergetool "nvimdiff"]
cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"

[branch]
autosetupmerge = true

[push]
default = simple

[pull]
rebase = true

[commit]
gpgsign = true
{{ if eq .chezmoi.os "windows" -}}

[gpg]
program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
{{ end }}
{{ if eq .chezmoi.os "linux" -}}
[gpg]
{{    if stat ("/usr/local/bin/gpg") -}}
        program = /usr/local/bin/gpg
{{    else if stat ("$HOME/.local/bin/gpg" | expandenv) -}}
        program = {{ "$HOME/.local/bin/gpg" | expandenv }}
{{    else -}}
        program = gpg
{{    end -}}
{{ end }}
[init]
defaultBranch = main
[safe]
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\bufferline.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\catppuccin
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\cmp-buffer
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\cmp-nvim-lsp
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\cmp-path
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\conform.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\dashboard-nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\dressing.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\flash.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\friendly-snippets
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\fzf-lua
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\gitsigns.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\grug-far.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\indent-blankline.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\lazy.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\lazydev.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\LazyVim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\lualine.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\luvit-meta
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\markdown-preview.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\mason-lspconfig.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\mason.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\mini.ai
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\mini.icons
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\mini.pairs
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\neo-tree.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\noice.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nui.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nvim-cmp
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nvim-lint
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nvim-lspconfig
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nvim-notify
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nvim-snippets
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nvim-treesitter
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nvim-treesitter-textobjects
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nvim-ts-autotag
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\nvim-web-devicons
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\persistence.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\plenary.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\render-markdown.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\telescope.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\todo-comments.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\tokyonight.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\trouble.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\ts-comments.nvim
directory = C:\\Users\\rslater\\AppData\\Local\\nvim-data\\lazy\\which-key.nvim

