---
galaxy_info:
  author: Richard Slater
  description: "Ansible role to prune Docker and Podman systems."
  license: "MIT"
  min_ansible_version: "2.9"
  platforms:
    - name: Ubuntu
      versions:
        - all
    - name: Debian
      versions:
        - all
