{{ if and (eq .chezmoi.os "linux") ( and (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") ) -}}
#!/usr/bin/env bash

echo "Installing apt packages, press Ctrl+C to cancel, or enter password."

sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y

sudo apt install -y \
  zsh \
  zsh-syntax-highlighting \
  zsh-autosuggestions \
  unzip \
  ffmpeg \
  golang-go \
  libevent-dev ncurses-dev build-essential bison pkg-config

GPG_DIR=/mnt/c/Program\ Files\ \(x86\)/GnuPG/bin/
SSH_DIR=/mnt/c/Windows/System32/OpenSSH/

[ -f "${GPG_DIR}gpg.exe" ] && [ ! -L /usr/local/bin/gpg ] && sudo ln -s ${GPG_DIR}gpg.exe /usr/local/bin/gpg
[ -f "${SSH_DIR}ssh.exe" ] && [ ! -L /usr/local/bin/ssh ] && sudo ln -s ${SSH_DIR}ssh.exe /usr/local/bin/ssh
[ -f "${SSH_DIR}ssh-add.exe" ] && [ ! -L /usr/local/bin/ssh-add ] && sudo ln -s ${SSH_DIR}ssh-add.exe /usr/local/bin/ssh-add

curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.0/install.sh | bash

curl -s https://ohmyposh.dev/install.sh | bash -s

{{ end }}
