---
- name: Install dependencies for Foundry
  become: true
  apt:
    name:
      - curl
      - git
      - build-essential
      - libssl-dev
      - pkg-config
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Check if foundryup is already installed
  stat:
    path: "{{ ansible_env.HOME }}/.foundry/bin/foundryup"
  register: foundryup_stat

- name: Download Foundry installer
  get_url:
    url: "https://foundry.paradigm.xyz"
    dest: "/tmp/foundry_install.sh"
    mode: '0755'
  when: not foundryup_stat.stat.exists

- name: Run Foundry installer
  command: "/bin/bash /tmp/foundry_install.sh"
  args:
    creates: "{{ ansible_env.HOME }}/.foundry/bin/foundryup"
  when: not foundryup_stat.stat.exists

- name: Remove Foundry installer
  file:
    path: "/tmp/foundry_install.sh"
    state: absent
  when: not foundryup_stat.stat.exists

- name: Initialize Foundry
  shell: "{{ ansible_env.HOME }}/.foundry/bin/foundryup"
  args:
    creates: "{{ ansible_env.HOME }}/.foundry/bin/forge"

- name: Verify Foundry installation
  command: "{{ ansible_env.HOME }}/.foundry/bin/forge --version"
  register: foundry_version
  changed_when: false

- name: Show installed Foundry version
  debug:
    msg: "Installed Foundry version: {{ foundry_version.stdout }}"
