---
- name: Download nvm installer
  ansible.builtin.get_url:
    url: "{{ nvm_install_url }}"
    dest: "/tmp/nvm_install.sh"
    mode: '0755'
    checksum: "{{ nvm_install_checksum }}"

- name: Install nvm
  ansible.builtin.shell: >
    /tmp/nvm_install.sh
  args:
    creates: "{{ ansible_facts['env'].HOME }}/.nvm/nvm.sh"

- name: Remove nvm installer
  ansible.builtin.file:
    path: "/tmp/nvm_install.sh"
    state: absent
