---
- name: Check if architecture is supported for PowerShell
  ansible.builtin.debug:
    msg: "Skipping PowerShell installation - architecture {{ ansible_architecture }} is not supported. Supported: {{ pwsh_supported_architectures | join(', ') }}"
  when: ansible_architecture not in pwsh_supported_architectures

- name: Install libicu72
  become: true
  block:
    - name: Add libicu72
      apt:
        deb: "http://security.debian.org/debian-security/pool/updates/main/i/icu/libicu72_72.1-3+deb12u1_{{ pwsh_arch }}.deb"
  when:
    - ansible_architecture in pwsh_supported_architectures
    - ansible_facts['os_family'] == "Debian"
    - ansible_facts['distribution_version'] is version('13.0', '>=')

- name: Install PowerShell (pwsh)
  become: true
  block:
    - name: Install PowerShell on Debian
      apt:
        deb: "https://github.com/PowerShell/PowerShell/releases/download/v{{ pwsh_target_version }}/powershell_{{ pwsh_target_version }}-1.deb_{{ pwsh_arch }}.deb"
  when: ansible_architecture in pwsh_supported_architectures

- name: Verify PowerShell Installation
  command: "pwsh --version"
  register: pwsh_version
  changed_when: false
  when: ansible_architecture in pwsh_supported_architectures

- name: Show Installed PowerShell Version
  debug:
    msg: "Installed PowerShell Version: {{ pwsh_version.stdout }}"
  when: ansible_architecture in pwsh_supported_architectures
