{{ if eq .role "personal" -}}
alias code="/mnt/c/Users/mcp/AppData/Local/Programs/Microsoft\ VS\ Code/bin/code"
{{ end }}

{{ if eq .role "work" -}}
alias code="/mnt/c/Users/rslater/AppData/Local/Programs/Microsoft\ VS\ Code/bin/code"
{{ end }}
