---
- name: Update Ubuntu/Debian system
  hosts: localhost
  become: true
  tasks:
    - name: Update apt package index
      apt:
        update_cache: yes

    - name: Upgrade all packages
      apt:
        upgrade: full

    - name: Remove unnecessary packages
      apt:
        autoremove: yes
        autoclean: yes

- name: Run roles for system setup
  hosts: localhost
  become: true
  vars:
    packages:
      - dnsutils
      - btop
  roles:
    - bat
    - fzf
    - geerlingguy.go
    - hurricanehrndz.rustup
    - neovim
    - oh-my-posh
    - packages
    - pwsh
    - tmux
    - zsh
    - alvistack.podman

- name: Run roles for user
  hosts: localhost
  roles:
    - role: foundry
      when: "'ensono.com' not in ansible_dns.search"
