---
- name: Debugging
  hosts: localhost
  tasks:
    - name: Operating System Family
      ansible.builtin.debug:
        var: ansible_facts['os_family'] 
    - name: Operating System Version
      ansible.builtin.debug:
        var: ansible_facts['distribution_version']
    - name: Debian is > 13
      ansible.builtin.debug:
        var: ansible_facts['distribution_version'] is version('13.0', '>=') 

- name: Update Ubuntu/Debian system
  hosts: localhost
  become: true
  tasks:
    - name: Update and upgrade system with recovery
      block:
        - name: Update apt package index
          apt:
            update_cache: yes

        - name: Upgrade all packages
          apt:
            upgrade: full

        - name: Remove unnecessary packages
          apt:
            autoremove: yes
            autoclean: yes

        - name: Install dependant packages
          apt:
            name: "{{ item }}"
            state: present
          loop:
            - python3-debian
            - git
            - wget
            - curl

      rescue:
        - name: Remove extra librhash1 that gets picked up incorrectly
          ansible.builtin.command: sudo dpkg --remove --force-all librhash1
          ignore_errors: true

        - name: Fix broken apt installs
          ansible.builtin.command: apt-get install --fix-broken -y
          register: fix_broken_result
          ignore_errors: true

        - name: Retry update apt package index
          apt:
            update_cache: yes

        - name: Retry upgrade all packages
          apt:
            upgrade: full

        - name: Retry remove unnecessary packages
          apt:
            autoremove: yes
            autoclean: yes

- name: Run roles for system setup
  hosts: localhost
  become: true
  vars:
    packages:
      - dnsutils
      - btop
    unlisted_packages:
      - name: Dive
        source: https://github.com/wagoodman/dive/releases/download/v0.13.1/dive_0.13.1_linux_amd64.deb
  roles:
    - packages
    - bat
    - fzf
    - geerlingguy.go
    - neovim
    - oh-my-posh
    - pwsh
    - tmux
    - zsh
    - alvistack.podman
    - wsl

- name: Run roles for user setup
  hosts: localhost
  vars:
    rustup_user: "{{ ansible_user_id }}"
  roles:
    - rootless-networking
    - nvm
    - hurricanehrndz.rustup

- name: Run roles for user
  hosts: localhost
  roles:
    - role: foundry
      when: "'ensono.com' not in ansible_dns.search"
